@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Sriracha", cursive;
    --font3: "Passion One", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background: darkgray;
    font-family: var(--font1);
}

header{
    background: #000;
    color: #fff;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font3);
    font-size: 4em;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font2);
    font-size: 5vw;
}

section.normal{
    background-color: #fff;
    color: #000;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.815);
    color: #fff;
    box-shadow: inset 6px 6px 13px 0px #0000005e;
    background-size: cover;
    background-attachment: fixed;
}

section > p{
    padding-bottom: 2em;
}

section.imagem > p{
    background-color: #000000a4;
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px #000;
}

section#img01{
    background-image: url('../imagens/pexels-leyla-helvaci-50263565-13872010.jpg');
    background-position: left top;
}

section#img02{
    background-image: url('../imagens/pexels-jmark-211291.jpg');
   
}

footer{
    background: #000000;
    text-align: center;
    color: #fff;
    padding: 10px;
}