@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background: darkgray;
}

header{
    background: #000;
    color: #fff;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: #fff;
    color: #000;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.815);
    color: #fff;
}

section.imagem > p{
    background-color: #0000006b;
    width: 400px;
}

footer{
    background: #000000;
    text-align: center;
    color: #fff;
    padding: 10px;
}